<!-- 充值模态框 -->
<div id="recharge-modal" class="modal">
    <div class="modal-content">
        <h4>账户充值</h4>
        <div class="divider"></div>

        <div class="row">
            <div class="col s12">
                <h5>选择充值金额</h5>
                <div class="row">
                    <div class="col s4">
                        <label>
                            <input name="recharge-amount" type="radio" value="50" />
                            <span>¥50</span>
                        </label>
                    </div>
                    <div class="col s4">
                        <label>
                            <input name="recharge-amount" type="radio" value="100" checked />
                            <span>¥100</span>
                        </label>
                    </div>
                    <div class="col s4">
                        <label>
                            <input name="recharge-amount" type="radio" value="200" />
                            <span>¥200</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">
                        <label>
                            <input name="recharge-amount" type="radio" value="500" />
                            <span>¥500</span>
                        </label>
                    </div>
                    <div class="col s4">
                        <label>
                            <input name="recharge-amount" type="radio" value="1000" />
                            <span>¥1000</span>
                        </label>
                    </div>
                    <div class="col s4">
                        <label>
                            <input name="recharge-amount" type="radio" value="custom" id="custom-amount-radio" />
                            <span>自定义</span>
                        </label>
                    </div>
                </div>

                <div class="input-field" id="custom-amount-container" style="display: none;">
                    <input id="custom-amount" type="number" min="1" step="1">
                    <label for="custom-amount">输入自定义金额</label>
                </div>
            </div>
        </div>

        <div class="divider"></div>

        <div class="row">
            <div class="col s12">
                <h5>选择支付方式</h5>
                <ul class="collection">
                    <li class="collection-item">
                        <label>
                            <input name="recharge-method" type="radio" value="alipay" checked />
                            <span><i class="material-icons left">payment</i>支付宝</span>
                        </label>
                    </li>
                    <li class="collection-item">
                        <label>
                            <input name="recharge-method" type="radio" value="wechat" />
                            <span><i class="material-icons left">payment</i>微信支付</span>
                        </label>
                    </li>
                    <li class="collection-item">
                        <label>
                            <input name="recharge-method" type="radio" value="bank" />
                            <span><i class="material-icons left">account_balance</i>银行卡支付</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-close waves-effect waves-green btn-flat">取消</a>
        <a href="#" id="confirm-recharge" class="waves-effect waves-light btn teal">确认充值</a>
    </div>
</div>

<!-- 提现模态框 -->
<div id="withdraw-modal" class="modal">
    <div class="modal-content">
        <h4>余额提现</h4>
        <div class="divider"></div>

        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <input id="withdraw-amount" type="number" min="0.01" step="0.01">
                    <label for="withdraw-amount">提现金额</label>
                    <span class="helper-text">当前可用余额: <span id="available-balance">¥0.00</span></span>
                </div>
                
                <div class="input-field">
                    <select id="withdraw-method">
                        <option value="alipay">支付宝</option>
                        <option value="bank">银行卡</option>
                    </select>
                    <label>提现方式</label>
                </div>
                
                <div class="input-field" id="bank-card-field" style="display: none;">
                    <input id="bank-card-number" type="text">
                    <label for="bank-card-number">银行卡号</label>
                </div>
                
                <div class="input-field" id="alipay-account-field">
                    <input id="alipay-account" type="text">
                    <label for="alipay-account">支付宝账号</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">取消</a>
        <a href="#!" id="confirm-withdraw" class="waves-effect waves-light btn red">确认提现</a>
    </div>
</div>