<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <%- include('../../common/header', { title: '用户注册' }) %>
</head>

<body>
    <%- include('./container') %>
</body>

<%- include('../../common/script') %>
<%- include('./script') %>

<style>
    #send-code {
        width: 100%;
        margin-top: 25px;
    }
</style>
</html>