<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">关于本站</h5>
                <p class="grey-text text-lighten-4">这里是基于Java、Spring Boot、MyBatis和MySQL整合构建的后端商城项目的前端演示站点。</p>
                <p class="grey-text text-lighten-4">很荣幸您能访问我的网站！目前我仍在学习中，每天抽出时间来看书学习，励志成为一个技术很牛的程序员。</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">参考链接</h5>
                <div class="row">
                    <div class="col l6 s12">
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://www.java.com/zh-CN/">编程语言</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://spring.io/projects/spring-boot">后端框架</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://baomidou.com/">持久层</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://www.mysql.com/cn/">数据库</a></li>
                        </ul>
                    </div>
                    <div class="col l6 s12">
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://ejs.bootcss.com/">模板引擎</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://docs.materializecss.cn/">前端框架</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2025 CNGO 版权所有
        </div>
    </div>
</footer>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
        <i class="material-icons">mode_edit</i>
    </a>
    <ul>
        <li><a class="btn-floating red" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"><i class="material-icons">insert_chart</i></a></li>
        <li><a class="btn-floating yellow darken-1" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"><i class="material-icons">format_quote</i></a></li>
        <li><a class="btn-floating green" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"><i class="material-icons">publish</i></a></li>
        <li><a class="btn-floating blue" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"><i class="material-icons">attach_file</i></a></li>
    </ul>
</div>