<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">登录</span>
                    <form id="login-form">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate" required>
                                <label for="email">邮箱</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate" required>
                                <label for="password">密码</label>
                            </div>
                            <div class="col s6">
                                <button class="btn waves-effect waves-light" type="submit">登录
                                    <i class="material-icons right">send</i>
                                </button>

                            </div>
                            <div class="col s6">
                                <a href="/register" class="right"
                                    style="margin-top: 15px; margin-right: 20px; display: inline-block;">还没有账号?</a>
                                <a href="/reset-password" class="right"
                                    style="margin-top: 15px; margin-right: 20px; display: inline-block;">忘记密码?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>