<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <%- include('../../common/header', { title: '用户登陆' }) %>
</head>

<body>
    <%- include('./container') %>
</body>

<%- include('../../common/script') %>
<%- include('./script') %>
</html>