<!-- 轮播图 -->
<div class="carousel carousel-slider center" id="main-carousel">
    <div class="carousel-item red white-text" href="#one!">
        <img src="/images/carousel-item-1.png" alt="促销活动1">
        <div class="carousel-caption">
            <h2>夏季大促销</h2>
            <p class="white-text">全场5折起</p>
        </div>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
        <img src="/images/carousel-item-2.png" alt="促销活动2">
        <div class="carousel-caption">
            <h2>新品上市</h2>
            <p class="white-text">限时特惠</p>
        </div>
    </div>
    <div class="carousel-item green white-text" href="#three!">
        <img src="/images/carousel-item-3.png" alt="促销活动3">
        <div class="carousel-caption">
            <h2>会员专享</h2>
            <p class="white-text">额外9折优惠</p>
        </div>
    </div>
</div>