<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center-align">
                <div style="padding: 80px 0;">
                    <!-- 错误图标 -->
                    <i class="material-icons large grey-text" style="font-size: 100px;">error_outline</i>
                    
                    <!-- 标题 -->
                    <h3>404 - 页面未找到</h3>
                    
                    <!-- 描述信息 -->
                    <p class="flow-text">抱歉，您访问的页面不存在或已被移除</p>
                    
                    <!-- 操作按钮 -->
                    <div style="margin-top: 40px;">
                        <a href="/" class="btn waves-effect waves-light teal" style="margin-right: 10px;">
                            <i class="material-icons left">home</i>返回首页
                        </a>
                        <a href="/" class="btn waves-effect waves-light teal lighten-2">
                            <i class="material-icons left">shopping_basket</i>浏览商品
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>