<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">修改密码</span>
                    <form id="change-password-form">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="current-password" type="password" class="validate" required>
                                <label for="current-password">当前密码</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="new-password" type="password" class="validate" required minlength="6">
                                <label for="new-password">新密码</label>
                                <span class="helper-text">密码长度至少6位</span>
                            </div>
                            <div class="input-field col s12">
                                <input id="confirm-password" type="password" class="validate" required minlength="6">
                                <label for="confirm-password">确认新密码</label>
                            </div>
                            <div class="col s12">
                                <button class="btn waves-effect waves-light" type="submit">确认修改
                                    <i class="material-icons right">lock</i>
                                </button>
                                <a href="/profile" class="right"
                                    style="margin-top: 15px; display: inline-block;">返回个人中心</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>